<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>도서 목록</h1>
    <table>
        <tr>
            <th>도서번호</th>
            <th>도서제목</th>
            <th>작가명</th>
            <th>가격</th>
            <th>세부정보</th>
        </tr>
        <th:block th:each="book:${list}">
            <tr>
                <td th:text="${book.book_no}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.price}"></td>
                <td><a th:href="@{/book/bookDetail(book_no=${book.book_no})}" th:text="상세정보"></a></td>
            </tr>
        </th:block>
    </table>
</body>
</html>