<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>사용자 세부 정보</h1>
    <table>
        <tr>
            <th>사용자 번호</th>
            <th>사용자 이름</th>
            <th>사용자 아이디</th>
            <th>성별</th>
        </tr>
        <tr>
            <td th:text="${member.mem_no}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.id}"></td>
            <td th:text="${member.gender}"></td>
        </tr>
    </table>
    <button onclick="location.href='/member/memberList'">사용자목록으로..</button>
    
</body>
</html>